
.footer{
    width:750px;
    height:140px;
    /* background: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
}
.lf{
    width: 25%;
    height:140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width:50px;
    height:50px;
}
ul{
    width:750px;
}
span{
    width: 50px;
}
.home{
    color: #000;
    background: url("../images/1-2.png") center center/50px 50px no-repeat;
    padding-top:80px;
}
.active-home{
    color: #000;
    background: url("../images/1-1.png") center center/50px 50px no-repeat;
    padding-top:80px;
}
.theater{
    color: #000;
    background: url("../images/2-2.png") center center/50px 50px no-repeat;
    padding-top:80px;
}
.active-theater{
    color: #000;
    background: url("../images/2-1.png") center center/50px 50px no-repeat;
    padding-top:80px;
}
.ticket{
    color: #000;
    background: url("../images/3-2.png") center center/50px 50px no-repeat;
    padding-top:80px;
}
.active-ticket{
    color: #000;
    background: url("../images/3-1.png") center center/50px 50px no-repeat;
    padding-top:80px;
}
.my{
    color: #000;
    background: url("../images/4-2.png") center center/50px 50px no-repeat;
    padding-top:80px;
}
.active-my{
    color: #000;
    background: url("../images/4-1.png") center center/50px 50px no-repeat;
    padding-top:80px;
}